body{
	background-color: lightgray;
}
footer{
	color: white;
	text-align: center;
}
h1{
	text-align: center;
	color: blue;
}
form{
	margin: 20px 20px;
}
.card{
	margin: 50px 200px;
	background-color: white;
}
